<% include _includes/header %>
  <div class="bg">
    <div class="gradient-banner">
      <div class="container">

        <div class="row footer-height justify-content-center">
          <div class="col-md-4 text-center">
            <img class="image-width-logo-top animated zoomInDown justify-content-center text-center mt-5" src="../images/logo.png" alt="Scythe Logo">
          </div>
        </div>
        <h1 class="scythe text-white">Scythe</h1>
        <p class="leading text-center text-white"><u>This site is in alpha.</u></p>
        <div class="row justify-content-center footer-height">
          <div class="col-md-4 m-2">
            <a class="btn btn-browse" href="/store">
              <img class="image-width-google mr-1" src="../images/price-tag.png" alt="Price Tag">
              Browse our store
            </a>
          </div>
        </div>
        <div class="arrow bounce">
          <i class="fa fa-angle-down fa-5x"></i>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row footer-height">
      <div class="col-md-4 text-center">
        <h1 class="features mt-5">We Offer 24/7 Support <img src="../images/conversation.png" alt="Converstation"> </h1>
        <p class="lead">Didn't get your account, having trouble paying with cryptocurrency or need need some help? We are here to assist you along the way just send us an email or click on the blue message icon in the lower right corner.</p>
      </div>
      <div class="col-md-4 text-center">
        <h1 class="features mt-5">High Quality Accounts <img src="../images/account.png" alt="Account"> </h1>
        <p class="lead">Our accounts are high quality and if you experience any problems with your account within the first 2-3 days of using it we will give you another one on us.</p>
      </div>
      <div class="col-md-4 text-center">
        <h1 class="features mt-5">Customer Satisfaction
              <img src="../images/smile.png" alt="Smile">
            </h1>
        <p class="lead">Here at Scythe we strive for customer satisfaction if something isn't right or you need help just contact us!</p>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>

    <h1 class="text-center">How to use Scythe</h1>
    <p class="text-center leading">It is incredibly easy. </p>
    <div class="row footer-height justify-content-center">
      <div class="col-md-2 text-center">
        <img class="center" src="../images/browser.png" alt="Web Browser">
        <p class="lead">Navigate to our site</p>

      </div>
      <div class="col-md-2 text-center">
        <img class="center" src="../images/like.png" alt="Thumbs Up">
        <p class="lead">find the service that you like</p>
      </div>
      <div class="col-md-2 text-center">
        <img class="center" src="../images/blockchain.png" alt="Cryptocurrency">
        <p class="lead">Pay using cryptocurrency, everything is anonymous</p>
      </div>
    </div>
  <div class="container">
    <hr class="featurette-divider">
    <div class="text-center">

    </div>
    <h1 class="text-center ">Endless Fun</h1>
    <p class="leading text-center ">Online services have taken a huge part of our lives especially in todays world. We think these online services can offer more, and so Scythe was created! Scythe is an easy way to buy online services much cheaper than you noramlly would.</p>
    <div class="row footer-height justify-content-center">
      <div class="col-md-4 text-center">
        <img src="../images/locked.png" alt="Padlock">
        <h3>Secure Platform</h3>
        <p class="leading ">Everything you buy is using the standard SSL encryption. In other words we aren't going to steal your data.</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../images/hourglass.png" alt="Hourglass">
        <h3>Fast & Reliable</h3>
        <p class="leading ">Scythe is fast and very reliable. If you buy an account you will have it within minutes of your purchase.</p>
      </div>
    </div>
    <div class="row footer-height justify-content-center">
      <div class="col-md-4 text-center">
        <img src="../images/image.png" alt="image">
        <h3>Great Design</h3>
        <p class="leading ">Because many people come to Scythe we thought we would give you a beautiful site so you can look at our great design everyday!</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../images/gift.png" alt="Gift">
        <h3>Cheap Services</h3>
        <p class="leading ">Online Services are not cheap whatsoever they add up and cost a lot of money that you could be spending on something else. We offer them cheap so you can spend that money elsewhere, like buying more of our services. </p>
      </div>
    </div>
    <div class="row footer-height justify-content-center">
      <div class="col-md-4 text-center">
        <img class="image-width-logo" src="../images/logo.png" alt="Scythe Logo">
      </div>
    </div>
  </div>



  <% include _includes/footer %>
