<% include _includes/header %>
  <div class="bg">
    <div class="container">
      <h1 class="scythe">Scythe</h1>
        <div data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
          <p data-toggle="tooltip" data-placement="top" title="Click Me!">
          <i class="fas fa-chevron-down"></i>
        </p>
      </div>
    </div>
  </div>


  <% include _includes/footer %>
