<% include _includes/header %>

<div class="container">
  <h1 class="text-center"><u>Scythe</u></h1>
  <p class="leading">Here at Scythe we offer high quality products for our users. We offer a variety of different accounts all discounted at a very low price. We have the prices so low because we buy in bulk and resell the items to you guys!</p>
</div>

<% include _includes/footer %>
