<% include _includes/header.ejs %>
  <div class="container">
    <% cards.forEach( card => { %>
      <%- include('_includes/cards.ejs', card) %>
  <%  }) %>
  </div>
  <% include _includes/footer.ejs %>
