<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 box-shadow">
      <h5 class="my-0 mr-md-auto"><img class="image-width-logo" src="../images/logo.png"></h5>
      <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="/">Home</a>
              <a class="p-2 text-dark" href="store">Store</a>
              <a class="p-2 text-dark" href="profile">Profile</a>
              <% if (user) { %>
                <a class="p-2 text-dark" href="/logout"> Logout </a>
                <% } else { %>
                  <a class="p-2 text-dark" href="/login"> Login </a>
                  <% } %>
      </nav>
    </div>
  </div>
