<div class="modal" id="read" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="read">This is important</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Read before you pay.</h1>
        <p>This is just a quick little guide on how to buy items successfully on Scythe.</p>

        <h2>Paypal</h2>
        <p>When you click to pay with Paypal, enter the amount of the service you want <strong>anything below the amount will not be refunded and you will not get your item</strong>. Please make sure that it is the correct amount shown on the items card. After you enter the amount, type the item that you wanted into the notes section and we will be sure to email the account to you!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
